.navbar{
    background-color: #343a40;
    

}

.navbar .navbar-brand{
    color : #fff;
}

.navbar .nav-link{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

@media(max-width : 576px){
        .navbar .nav-link{
            margin-right:0;
        }
}

